*.iml
.gradle
local.properties
.idea/caches
.idea/libraries
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
.idea/deploymentTargetDropDown.xml
.idea/dictionaries/fqw8852.xml
.idea/deploymentTargetSelector.xml
.idea/other.xml
.DS_Store
captures
.externalNativeBuild
app/debug/app-debug.aab
build/reports/configuration-cache/*

